<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>UEK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.2.min.css">
  <link rel="stylesheet" href="css/themes/purple-rainbow.min.css" />
  <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="css/extra-added-styles.css" />


  <!-- phonegap -->
  <script type="text/javascript" charset="utf-8" src="phonegap.js"></script>
  <script type="text/javascript" charset="utf-8">

  // Wait for PhoneGap to load
  //
  document.addEventListener("deviceready", onDeviceReady, false);

  // PhoneGap is ready
  //
  function onDeviceReady() {
      var element = document.getElementById('deviceProperties');

      element.innerHTML = '<strong>Nazwa urządzenia:</strong> '     + device.name     + '<br />' +
                          '<strong>Wersja PhoneGap:</strong> ' + device.phonegap + '<br />' +
                          '<strong>Platforma urządzania:</strong> ' + device.platform + '<br />' +
                          '<strong>UUID urządzania:</strong> '     + device.uuid     + '<br />' +
                          '<strong>Wersja oprogramowania urządzania:</strong> '  + device.version  + '<br />';

      // ustawienie defaultowych danych aplikacji
      window.localStorage.setItem("imie", "Stefan");
      var value = window.localStorage.getItem("imie");
      document.getElementById("imie-uzytkownika").innerHTML = value;
  }
  </script>
</head>
<body>
  <!-- ****************************** Main Page ******************************* -->
  <div data-role="page" id="page_main">
    <div data-role="panel" id="myPanel1" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left ui-btn-active">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Antyplagiat</h1>
      <a href="#myPanel1" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
    </div>

    <div data-role="main" class="ui-content" style="text-align:center;">
      <img src="images/logo-uek-mini.png" alt="Logo Uniwersyteru Ekonomicznego w Krakowie" width="300" />
      <h4>Aplikacja prezentująca działanie systemu Antyplagiat</h4>
      <p id="imie-uzytkownika">Loading from localStorage</p>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>

  <!-- ****************************** Info overall ******************************* -->
  <div data-role="page" id="page_overall_info">
    <div data-role="panel" id="myPanel2" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left ui-btn-active">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Antyplagiat</h1>
      <a href="#myPanel2" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home page</a>
    </div>

    <div data-role="main" class="ui-content">
      <h2>Informacje ogólne</h2>
      <p>Sprawdzanie prac Systemem Antyplagiatowym (w wersji dla Uniwersytetu Ekonomicznego w Krakowie) odbywa się w oparciu o tzw. <strong>kody</strong>. Kod oznacza uprawnienie do jednokrotnego sprawdzenia tekstu pracy o objętości nie przekraczającej limitu określonego dla danego rodzaju kodu.</p>

      <p>Bezpłatne kody przydzielane są przez Uczelnianego Administratora Systemu Antyplagiatowego, działającego przy Centrum Informatyki Uniwersytetu Ekonomicznego w Krakowie (na podstawie Zarządzenia Rektora UEK z dnia 28 lutego 2009). Po wyczerpaniu limitu kodów bezpłatnych można zakupić dodatkowe kody poprzez system transakcyjny dostępny w ramach konta studenckiego w Plagiat.pl. W uzasadnionym przypadku dodatkowy Kod Duży może zostać także przydzielony studentowi z puli uczelnianej na wniosek Promotora.</p>

      <p>W ramach Systemu Antyplagiatowego istnieją dwa rodzaje kodów:</p>

      <h3>Kod Duży</h3>
      <p>umożliwia sprawdzenie pracy o objętości do 500 tys. znaków (łącznie ze spacjami, znakami formatowania i edycji) i służy do sprawdzania prac dyplomowych (magisterskich, licencjackich i inżynierskich).</p>

      <p>Na początku ostatniego semestru studiów wszystkim studentom tego semestru przyznawany jest jeden Kod Duży z puli uczelnianej. Kod ten przyznawany jest na podstawie list dziekańskich według ich stanu na koniec przedostatniego semestru studiów.</p>

      <p>Studenci, którzy na początku ostatniego semestru studiów nie mają przyznanego Kodu Dużego, a byli wpisani na listę studentów przedostatniego semestru studiów, muszą skontaktować się z Uczelnianym Administratorem Systemu Antyplagiatowego (UASA).W przypadku braku możliwości potwierdzenia przez UASA statusu danej osoby w systemie dziekanatowym konieczne jest osobiste pojawienie się na dyżurze UASA i okazanie w indeksie wpisu na ostatni semestr studiów.</p>

      <h3>Kod Mały</h3>
      <p>Umożliwia sprawdzenie pracy o objętości do 50 tys. znaków (łącznie ze spacjami, znakami formatowania i edycji) i służy do sprawdzania prac przejściowych (referatów, projektów, prac zaliczeniowych itp.) pisanych przez studenta w toku studiów na UEK.</p>

      <p>Kody Małe przyznawane są studentom przez Uczelnianego Administratora Systemu Antyplagiatowego na wniosek pracownika dydaktycznego Uniwersytetu Ekonomicznego w Krakowie, prowadzącego ze studentami wykłady, ćwiczenia, warsztaty, laboratoria i inne formy zajęć objęte tokiem nauczania. W przypadku wprowadzenia przez pracownika dydaktycznego wymogu weryfikacji pracy w Systemie Antyplagiatowym student obligatoryjnie otrzymuje minimum jeden bezpłatny kod.</p>

      <p>W przypadku konieczności sprawdzenia pracy przejściowej Systemem Antyplagiatowym, a nie otrzymania Kodu Małego, student zwraca się do prowadzącego zajęcia z prośbą o wyjaśnienie, czy prowadzący zajęcia zlecił Uczelnianemu Administratorowi Systemu Antyplagiatowego przyznanie Kodów Małych w związku ze swoim przedmiotem.</p>

      <p>Liczbę kodów posiadanych w danym momencie i wykorzystanych do tej pory można sprawdzić na stronie dostępnej pod opcją menu Kody z poziomego menu nawigacyjnego.</p>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>

  <!-- ****************************** Activate account ******************************* -->
  <div data-role="page" id="page_activate_account">
    <div data-role="panel" id="myPanel3" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left ui-btn-active">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Aktywacja konta</h1>
      <a href="#myPanel3" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home page</a>
    </div>

    <div data-role="main" class="ui-content" >
      <h3>Szybka nawigacja:</h3>
      <a href="#krok1" rel="external" data-role="button">Krok 1</a>
      <a href="#krok2" rel="external" data-role="button">Krok 2</a>
      <p id="krok1"></p>
      <h2>Krok 1</h2>
      <h3>Aktywacja studenckiej skrzynki e-mail</h3>

      <p>Pierwszym krokiem do aktywowania swojego studenckiego konta w Systemie Antyplagiatowym jest uzyskanie dostępu do studenckiej skrzynki (konta) poczty elektronicznej na serwerze wizard.uek.krakow.pl.</p>


      <p class="info-warrning"><span class="head">Uwaga!</span>
      Ze względów bezpieczeństwa ten pierwszy krok (pobranie hasła do studenckiego konta poczty elektronicznej) może być wykonany wyłącznie z terenu Kampusu UEK, w związku z czym warto jest uzyskać hasło do swojej skrzynki e-mail zawczasu (przy okazji jakichś zajęć), by nie musieć potem specjalnie przyjeżdżać w tym celu. Próba pobrania hasła do skrzynki e-mail spoza terenu Kampusu UEK skutkuje wyświetleniem komunikatu informującego, że hasło może być pobrane tylko z sieci uczelnianej.</p>

      <img src="images/krok1/student_uek_blokada.jpg" alt="Hasło może być wyłacznie pobrane z terenu kampusu UEK" />


      <p>Aby uzyskać dostęp do studenckiego konta e-mail należy:</p>

      <ol class="better-list">
        <li>Wejść na stronę pod adresem <a href="student.uek.krakow.pl">student.uek.krakow.pl</a>.</li>
        <li>W menu po prawej stronie kliknąć link <strong><i>Hasło startowe</i></strong>, co spowoduje wyświetlenie strony z formularzem do pobierania hasła.</li>

        <img src="images/krok1/haslo_startowe_na_UEK.jpg" alt="Formularz pobierania hasła startowego z terenu kampusu UEK" />

        <li>Wypełnić pola:
          <ul>
            <li>imię</li>
            <li>nazwisko</li>
            <li>nr albumu (indeksu)</li>
            <li>nr PESEL</li>
            <li>imię ojca i imię matki</li>
          </ul>
          oraz zaakceptować oświadczenie o stosowaniu się do postanowień regulaminów i zarządzeń dotyczących użytkowania uczelnianych sieci komputerowych i kont pocztowych.
        </li>

        <li>Kliknąć przycisk <strong><i>Pobierz hasło</i></strong>.</li>

        <li>W górnym menu strony kliknąć link <strong><i>Poczta dla studentów</i></strong> lub ręcznie w okienko adresowe przeglądarki stron internetowych wpisać adres <a href="https://wizard.uek.krakow.pl/webmail/">https://wizard.uek.krakow.pl/webmail/</a>.</li>

        <img src="images/krok1/student_uek_naglowek_poczta.jpg" alt="Link do poczty studenckiej w górnym menu" />

        <li>W okienko logowania, które pojawi się na kolejnej stronie wpisać:<br />
        nazwę użytkownika (login): numer albumu (indeksu) porzedzony małą literką "s", np. s654321,<br />
        hasło startowe uzyskane na stronie student.uek.krakow.pl.</li>

        <img src="images/krok1/poczta_studencka_okienko_logowania.jpg" alt="Okienko logowania do studenckiej poczty elektronicznej UEK" />

        <li>Kliknąć przycisk <strong><i>Zaloguj</i></strong>.</li>

      </ol>

      <p id="krok2"></p>
      <h2>Krok 2</h2>
      <h3>Aktywacja studenckiej skrzynki w systemie Plagiat.pl</h3>


      <p>Do korzystania z Systemu Antyplagiatowego wymagane jest posiadanie przez Studenta aktywnej skrzynki (krok 1) poczty elektronicznej na uczelnianym, studenckim serwerze (wizard.uek.krakow.pl).</p>

      <p class="info-warrning"><span class="head">Uwaga!</span> Ze względów bezpieczeństwa skrzynkę (konto) na studenckim, uczelnianym serwerze pocztowym aktywować można tylko z terenu Kampusu UEK.</p>

      <p>Wszyscy studenci Uniwersytetu Ekonomicznego w Krakowie mają założone konta w Systemie Antyplagiatowym (<a href="http://plagiat.pl">plagiat.pl</a>). Konta te są dostępne dla Studentów, którzy pozostają wpisani na listy dziekańskie. Osoby, które przerwały studia lub z innych przyczyn zostały skreślone z listy studentów w celu uzyskania dostępu muszą wpierw reaktywować się w prawach Studenta UEK i zostać wpisane na listę studentów.</p>

      <p>Każdy ze Studentów powinien aktywować swoje konto w Systemie Antyplagiatowym (czyli uzyskać do niego dostęp) zgodnie z niniejszą procedurą aktywacji kont.</p>

      <p>W momencie utworzenia konta Studenta w systemie Plagiat.pl na studencką, uczelnianą skrzynkę e-mail Studenta przesyłana jest wiadomość o poniższej treści, zawierająca nazwę użytkownika (login) oraz hasło do konta w systemie Plagiat.</p>

      <pre>From: plagiat@plagiat.pl
To: s777777@wizard.uek.krakow.pl
Subject: Witamy w serwisie plagiat.pl

Ten email został wygenerowany
automatycznie. Prosimy na niego
nie odpowiadać.

Witamy w Serwisie PLAGIAT.PL!
Oto hasło dla konta o loginie
s777777@wizard.uek.krakow.pl :
xW0b7iww

Życzymy owocnej pracy z Systemem

Zespół PLAGIAT.PL
System Antyplagiatowy dostępny jest
pod adresem internetowym
www.plagiat.pl.</pre>

      <h3>Logowanie do systemu plagiat.pl</h3>
      <p>System Antyplagiatowy dostępny jest pod adresem internetowym: <a href="www.plagiat.pl">www.plagiat.pl</a>.</p>

      <p>Aby zalogować się na konto w Systemie Antyplagiatowym należy w odpowiednie okienka znajdujące się w prawym górnym rogu ekranu wpisać login oraz otrzymane pocztą elektroniczną hasło. A następnie kliknąć czerwony okrągły przycisk znajdujący się po prawej stronie okienek logowania.</p>

      <img src="images/krok2/01_Logowanie_do_Systemu_Antyplagiatowego.jpg" alt="Logowanie do Systemu Antyplagiatowego" />

      <p class="info-warrning"><span class="head">Uwaga! </span> Loginem do Systemu Antyplagiatowego jest pełny adres poczty elektronicznej konta studenckiego, według wzoru <strong>s999999@wizard.uek.krakow.pl</strong>, gdzie w części identyfikującej użytkownika po literze <strong>s</strong> następuje numer indeksu.</p>

      <p>Po zalogowaniu się na konto w Systemie Antyplagiatowym pojawia się formularz, w którym należy uzupełnić swoje dane.
        <ul>
          <li>Z rozwijanego menu należy wybrać wydział Uniwersytetu Ekonomicznego w Krakowie, na którym się studiuje oraz wpisać imię i nazwisko.</li>
          <li>Następnie należy uważnie zapoznać się z treścią Regulaminu korzystania z Systemu Antyplagiatowego oraz Oświadczenia dotyczącego praw autorskich i danych osobowych, przewijając do końca okienka, w których te treści są zamieszczone.</li>
          <li> A następnie zaznaczyć kliknięciem oba pola akceptacji tekstów <i>Regulaminu</i> i <i>Oświadczenia</i>, a następnie potwierdzić wysyłkę danych za pomocą przycisku <strong>Zapisz swoje dane</strong>.</li>
        </ul>
      </p>

      <img src="images/krok2/02_Aktywacja_konta_Studenta.jpg" alt="Uzupełnienie danych użytkownika i akceptacja regulaminu" />

      <p class="info-warrning"><span class="head">Uwaga! </span> Do zapisania danych użytkownika niezbędne jest przewinięcie do końca tekstów w okienkach treści Regulaminu i Oświadczenia za pomocą pasków przewijania. Przed kliknięciem przycisku Zapisz swoje dane należy uważnie sprawdzić wprowadzone dane, gdyż ich modyfikacja będzie wymagała osobistego skontaktowania się z Uczelnianym Administratorem Systemu Antyplagiatowego działającym przy Centrum Informatyki Uniwersytetu Ekonomicznego w Krakowie.</p>

      <p class="info-warrning"><span class="head">Uwaga! </span>W przypadku zagubienia hasła lub konieczności zmiany hasła do konta w Systemie Antyplagiatowym, należy skorzystać z procedury odzyskania hasła.</p>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>

  <!-- ***************************** Złożenia i procedury ******************************* -->
  <div data-role="page" id="page_procedures">
    <div data-role="panel" id="myPanel4" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left ui-btn-active">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Złożenia i procedury</h1>
      <a href="#myPanel4" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home page</a>
    </div>

    <div data-role="main" class="ui-content">
      <h3>Instrukcja sprawdzania:</h3>
      <button href="">Praca dyplomowa</button>
      <button href="">Praca przejściowa</button>

      <h3>Procedury:</h3>
      <button href="">Zmiana hasła do konta</button>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>


  <!-- ****************************** Dodatki ******************************* -->
  <div data-role="page" id="page_addons">
    <div data-role="panel" id="myPanel5" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left ui-btn-active">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Latarka</h1>
      <a href="#myPanel5" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home page</a>
    </div>

    <div data-role="main" class="ui-content">
      <fieldset>
        <div data-role="fieldcontain" id="btnFlashlightOff" onclick="flashlightToggle();">
          <label for="checkbox-based-flipswitch">Latarka:</label>
          <input type="checkbox" data-role="flipswitch">
        </div>
      </fieldset>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>


  <!-- ****************************** Settings ******************************* -->
  <div data-role="page" id="page_settings">
    <div data-role="panel" id="myPanel7" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left ui-btn-active">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Kontakt</h1>
      <a href="#myPanel7" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home page</a>
    </div>

    <div data-role="main" class="ui-content">
      <p id="deviceProperties">Loading device properties...</p>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>



  <!-- ****************************** FAQ ******************************* -->
  <div data-role="page" id="page_faq">
    <div data-role="panel" id="myPanel8" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left ui-btn-active">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Kontakt</h1>
      <a href="#myPanel8" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home page</a>
    </div>

    <div data-role="main" class="ui-content" ng-app="">
      <div ng-init="faq = [
        {
          question:'Czy sprawdzanie pracy dyplomowej systemem antyplagiatowym jest obowiązkowe?',
          answer:'Tak. Zarządzeniem Rektora Uniwersytetu Ekonomicznego w Krakowie nr R-0121-13/2009 z 28 lutego 2009 roku został wprowadzony obowiązek weryfikacji systemem antyplagiatowym wszystkich prac dyplomowych składanych po 1 czerwca 2009 r.'
        },
        {
          question:'Czy mogę sprawdzić pracę zakładając prywatne konto w systemie Plagiat.pl i wgrywając na nie swoją pracę?',
          answer:'Nie jest to możliwe przede wszystkim dlatego, że ogólnodostępny system porównuje tekst pracy jedynie z zasobami Internetu, podczas gdy wersja systemu wykorzystywana na UEK dokonuje porównania prac także z tzw. bazą macierzystą uczelni, czyli ze sprawdzonymi dotychczas pracami innych studentów UEK oraz z bazami macierzystymi kilkudziesięciu innych polskich uczelni. Ponadto system antyplagiatowy UEK zapewnia promotorowi pracy bezpośredni dostęp do wyniku porównywania prac, czyli do tzw. raportu podobieństwa.'
        },
        {
          question:'Jak w takim razie założyć konto w systemie antyplagiatowym UEK?',
          answer:'Konta nie trzeba zakładać. Każdy student UEK ma już założone konto w systemie antyplagiatowym Plagiat.pl. Wystarczy to konto aktywować, czyli uzyskać do niego dostęp. Instrukcja, jak to zrobić dostępna w niniejszej aplikacji w zakładce &quot;Aktywacja konta&quot;.'
        },
        {
          question:'Czy to prawda, że pracę do systemu antyplagiatowego trzeba wgrywać z terenu uczelni?',
          answer:'Nieprawda. Jeżeli tylko wcześniej aktywowało się konto w systemie antyplagiatowym, pracę wgrać można z dowolnego miejsca, w którym jest dostęp do sieci Internet. <br/>
          Z terenu uczelni trzeba natomiast wykonać pierwszy krok do aktywacji konta w systemie Plagiat.pl, czyli uzyskanie dostępu do własnego konta pocztowego na studenckim serwerze kont pocztowych. Można to zrobić wchodząc na stronę http://student.uek.krakow.pl/ i klikając link &quot;Pobierz hasło startowe&quot;.
          Warto pomyśleć o tym zawczasu i poświęcić kilka minut na wizytę w którejś z sal komputerowych Centrum Informatyki UEK (w pawilonie A), by potem nie musieć w ostatniej chwili przyjeżdżać specjalnie na uczelnię.'
        },
        {
          question:'Dlaczego uczelniane konto pocztowe? Dlaczego nie mogę użyć np. swojego prywatnego konta pocztowego, które od dawna mam założone na jednym z portali internetowych?',
          answer:'Konto pocztowe na serwerze &quot;wizard.uek.krakow.pl&quot; jednoznacznie identyfikuje osobę jako studenta UEK w Krakowie. Na adres tego konta wysłana została wiadomość z danymi do logowania się w systemie antyplagiatowym UEK. Na to studenckie konto na uczelnianym serwerze przyjdzie wiadomość z raportem podobieństwa po sprawdzeniu pracy. Konto to powinno być też wykorzystywane w kontaktach z Uczelnianym Administratorem Systemu Antyplagiatowego w przypadku jakichkolwiek problemów.'
        },
        {
          question:'Nie mogę się zalogować na swoje konto w systemie antyplagiatowym. Dlaczego?',
          answer:'Najczęstszą przyczyną jest podawanie błędnej nazwy użytkownika (loginu). Loginem jest pełny adres e-mail na studenckim serwerze kont pocztowych, w formacie &quot;s777777@wizard.uek.krakow.pl&quot; (gdzie w miejscu siódemek pojawia się numer indeksu).
          Zdarza się także, że podczas kopiowania hasła z wiadomości e-mail zaznacza się spacja przed lub po haśle - i to też skutkuje błędem podczas logowania się.'
        },
        {
          question:'Zgubiłem(am) hasło do konta w systemie antplagiatowym. Co zrobić?',
          answer:'Należy wejść na stronę www.plagiat.pl i kliknąć w link zapomniałem hasła, a następnie podać swój adres e-mail na studenckim serwerze kont pocztowych. Na konto pocztowe zostanie przesłane nowe hasło do konta w systemie antyplagiatowym.'
        },
        {
          question:'Co to jest Kod Duży?',
          answer:'Kod Duży jest to uprawnienie do jednokrotnego sprawdzenia pracy dyplomowej systemem antyplagiatowym UEK. Kody Duże przyznawane są studentom ostatniego semestru studiów, zarówno licencjackich, jak i magisterskich, na początku ostatniego semestru. <br/>
          Posiadanie Kodów Dużych można sprawdzić w zakładce &quot;Kody&quot; na koncie użytkownika systemu.'
        },
        {
          question:'Mam aktywne konto, ale nie mam żadnego Kodu Dużego. Jak go otrzymać?',
          answer:'To się zdarza - zwłaszcza wtedy, kiedy z racji późnego zamknięcia sesji albo z innych przyczyn ktoś został wpisany z opóźnieniem na listę studentów ostatniego semestru studiów. W takim przypadku należy się zgłosić z indeksem, w którym jest potwierdzenie wpisu na ostatni semestr studiów, do Uczelnianego Administratora Systemu Antyplagiatowego - w pok. 03 w pawilonie A.
          Warto sprawdzić, czy na koncie jest Kod Duży, by nie musieć starać się o jego przyznanie w ostatnim momencie.'
        },
        {
          question:'Kiedy sprawdzić pracę systemem antyplagiatowym?',
          answer:'Pracę do weryfikacji należy wgrać wówczas, gdy promotor uzna ją za gotową i wyrazi zgodę na sprawdzenie pracy systemem antyplagiatowym. Ewentualną decyzję o konieczności powtórnego sprawdzenia pracy po wniesieniu do niej poprawek także podejmuje promotor.'
        },
        {
          question:'W jakim formacie mogę wgrać pracę do systemu?',
          answer:'System akceptuje zdecydowaną większość formatów dokumentów tekstowych, w tym wszystkie najpopularniejsze edytory wchodzące w skład pakietów MS Office czy Open Office. W przypadku mniej powszechnych edytorów można po prostu skopiować tekst pracy w okienko „Treść” na stronie wgrywania pracy do analizy.'
        },
        {
          question:'Czy należy wgrywać do systemu całą pracę dyplomową, łącznie ze stroną tytułową, spisem treści, bibliografią itd.?',
          answer:'Tak, do systemu antyplagiatowego powinna zostać wgrana cała praca dyplomowa. Nieznaczny wzrost wartości współczynników podobieństwa związany z uwzględnieniem w porównaniu także bibliografii nie powinien w żaden sposób wpłynąć na ocenę promotora.'
        },
        {
          question:'Czy po wgraniu pracy do systemu antyplagiatowego można wylogować się z konta, zakończyć połączenie internetowe i wyłączyć komputer?',
          answer:'Po wgraniu pracy do weryfikacji można wylogować się z konta, zakończyć połączenie z Internetem, jak też i wyłączyć komputer. W żaden sposób nie wpływa to na sprawdzanie pracy. Po zakończeniu sprawdzania raport podobieństwa zostanie zamieszczony na koncie Studenta w systemie antyplagiatowym oraz przesłany na skrzynkę poczty elektronicznej na studenckim serwerze kont pocztowych. Równolegle zostanie udostępniony na koncie Promotora pracy w systemie antyplagiatowym oraz przesłany na pracownicze konto pocztowe Promotora.'
        },
        {
          question:'Co oznaczają współczynniki podobieństwa?',
          answer:'Działanie systemu antyplagiatowego opiera się na porównywaniu fraz, czyli ciągów następujących po sobie wyrazów. Oba współczynniki podobieństwa pokazują jaką część sprawdzanego dokumentu stanowią frazy odnalezione w innych dokumentach, znajdujących się w bazie macierzystej uczelni lub w bazie zasobów internetowych. Różnica pomiędzy dwoma współczynnikami podobieństwa polega na tym, że podstawę do ich wyliczania stanowią frazy o różnej długości. Współczynnik podobieństwa 2 bierze pod uwagę frazy o długości równej przynajmniej limitowi współczynnika podobieństwa 2 (który w przypadku UEK wynosi 35 słów). We współczynniku podobieństwa 1 uwzględniane są także frazy krótkie, od 5 słów począwszy. Dlatego wartość tego współczynnika zazwyczaj jest wyższa, niż wartość współczynnika podobieństwa 2.'
        },
        {
          question:'Czy są ustalone jakieś maksymalne wartości współczynników podobieństwa, powyżej których praca na pewno jest plagiatem?',
          answer:'Same współczynniki podobieństwa nie mogą stanowić podstawy do oceny pracy, a tym bardziej do jej odrzucenia. Promotor powinien dokonać analizy całości raportu podobieństwa, zwracając uwagę na to, jakie fragmenty tekstu zostały wskazane przez system jako identyczne z innymi dokumentami, czy są to uzasadnione i odpowiednio oznaczone przypisami zaczerpnięcia itd. Uniwersytet Ekonomiczny w Krakowie nie ustala żadnych granicznych wartości współczynników podobieństwa, pozostawiając swobodę oceny promotorom prac.'
        },
        {
          question:'Praca została sprawdzona, promotor nie zgłosił zastrzeżeń. Co dalej?',
          answer:'Kolejnym krokiem jest wydrukowanie skróconego raportu podobieństwa i zamieszczenie go na końcu we wszystkich kopiach pracy przedkładanych promotorowi do akceptacji. Promotor, wyrażając zgodę na złożenie pracy, ma jednocześnie obowiązek zaparafować każdą ze stron raportu. Bez tej akceptacji raportu podobieństwa dziekanat odmówi przyjęcia pracy i ustalenia terminu obrony.'
        }
      ]"></div>
      <h2 style="margin:0; padding:0">Szukaj pytania:</h2>
      <input ng-model="textQuery" placeholder="Wpisz poszukiwaną frazę">
        <div ng-repeat="item in faq | filter:textQuery" style="padding-top:20px;">
          <h4>{{item.question}}</h4>
          <p>{{item.answer}}</p>
        </div>
      <p ng-show="(faq | filter:textQuery).length == 0" class="info-sand"><strong>Brak pasujących odpowiedzi.</strong><br/><br/>
      Nie odnaleziono pasujących kryteriów do szukanej frazy. Spróbuj ponownie zmianiając przy tym kryterium wyszukiwania.</p>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>



  <!-- ****************************** Autor ******************************* -->
  <div data-role="page" id="page_author">
    <div data-role="panel" id="myPanel9" data-position-fixed="true" data-display="reveal" data-theme="b">
      <h2>Menu</h2>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-left">Home</a>
      <a href="#page_overall_info" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left">Informacje ogólne</a>
      <a href="#page_activate_account" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Aktywacja konta</a>
      <a href="#" onclick="window.open('http://www.plagiat.pl', '_system');" class="ui-btn ui-corner-all ui-icon-calendar ui-btn-icon-left">Logowanie</a>
      <a href="#page_procedures" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-left">Złożenia i procedury</a>
      <a href="#page_faq" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left">FAQ</a>
      <a href="#page_addons" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left">Dodatki</a>
      <a href="#page_settings" class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-left">Ustawienia</a>
      <a href="#page_author" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-left ui-btn-active">Autor</a>
    </div>

    <div data-role="header" data-position="fixed" data-theme="d">
      <h1>Autor</h1>
      <a href="#myPanel9" class="ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext">Menu</a>
      <a href="#page_main" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home page</a>
    </div>

    <div data-role="main" class="ui-content" style="text-align:center; padding-top: 100px;">
      <h1>Maciej Sypień</h1>
      <p>Grupa dziekańska: <strong>KrZUIs2011</strong></p>
      <p>Numer albumu: <strong>184774</strong></p>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="d">
      <h1>Uniwersytet Ekonomiczny w Krakowie</h1>
    </div>
  </div>


  <!-- Javascript loading -->
  <script type="text/javascript" src="js/angular-1.3.0-beta.min.js"></script>

  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="js/jquery.mobile-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/plugins/Flashlight.js"></script>
  <script type="text/javascript" src="js/flashlight.js"></script>
  <script type="text/javascript" src="js/simple-functions.js"></script>

</body>
</html>
